
.history-screen {
    padding: 5px 20px;
}

.history-transactions-head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
}

select {
    border-radius: 5px;
    border: solid 1px rgb(39, 37, 37);
}

.debit-color {
    color: red;
}

.credit-color {
    color: green;
}

.history-movements {
    height: 70vh;
    overflow: scroll;
}

.history-movement-line {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}
