@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  height:100vh;
  background: #F6EED7;
}

.body {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: repeat(20, 1fr);
  height: 100vh;
  padding: 20px;
  background: #F6EED7;

}

menu {
  grid-column: 5/-1;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px 20px 0 0 ;

}

menu h1 {
  color: #FF5758;
}

/* NAVIGATION */

nav {
  grid-row: 1/-1;
  grid-column: 1/5;
  padding: 5px 20px 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.collapse-menu-btn {
  display: none;
}

.nav-links-mobile {
  display: none;
  margin-left: -200px;
}

.collapsed-menu {
  display: none;
}

.col-nav .main-nav-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition:  color   2s ease-in;

}

.nav-link {
  padding: 5px 10px;
  border-radius: 5px;
  color: #FF5758;
  /* border: solid red; */
}


.col-nav .nav-link:hover {
  cursor: pointer;
  background: #FF5758;
  color: #fff;
}

.signOut {
  background: red;
  color: #fff !important;
  text-align: center;
}

/* .ikons {
  padding-right: 10px;
} */

.col-nav .nav-link span {
  padding-right: 10px;
}



.main {
  grid-row: 2/-1;
  grid-column: 5/-1;
  background: #fff;
  display: grid;
  /* grid-template-columns: 18vw 1fr; */
  gap: 25px;
  background: #F9F3E4;
}

.activity {
  border-radius: 20px;
  padding: 0 0 0px 20px;
  background: #F8F1DF;
  overflow-x: hidden;
  /* border: solid red; */
  box-shadow: 2px 5px 10px rgba(53, 48, 48, 0.5);
}

.dash-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}





.screen {
  grid-column: 1/4;
  padding: 10px 20px;
}




/* ----RESPONSIVENESS---- */

@media screen and (min-width: 970px) and (max-width:1050px) {
  .nav-link {
    font-size: 14px;
  }
}

@media screen and (min-width: 801px) and (max-width:969px) {
  .nav-link {
    font-size: 11px;
  }

.col-nav .nav-link span {
    padding-right: 5px;
}
}


@media screen and (min-width: 761px) and (max-width:820px) {
  .nav-link {
    font-size: 9px;
  }

.col-nav .nav-link span {
    padding-right: 5px;
}
}


@media screen and (min-width: 200px) and (max-width:760px) {

  .body {
    padding-left: 0 !important;
    padding-top: 0;
  }

  nav {
    width: 10vw;
    background: #fff;
    text-align: center;
    height: 100vh;
    padding: inherit;
  }

  .nav-text, h1 {
    visibility: hidden;
    display: none;
  }

  .signOut {
    visibility: hidden;
  }

  .nav-link span {
    font-size: x-large;
    /* padding-right: 20px; */
  }

  .collapse-menu-btn {
    display: block;
    font-size: x-large;
  }

  .nav-links-mobile{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background: #fff;
    width: max-content;
    height: 100vh;
    margin: 0 !important;
    display: none;
    flex-direction: column;
    /* gap: 30px; */
    justify-content: space-between;
    transition: 2s ease-in;
  }

  .nav-mobile-head {
    display: flex;
    justify-content: space-between;
  }

  .nav-links-mobile button {
    background-color: #fff;
    border: none;
    cursor: pointer;
  }

  .nav-links-mobile .mobile-nav-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  }

  .mobile-nav-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  .nav-links-mobile .nav-link {
    padding: 5px;
    border-radius: 7px;
    color: #FF5758;
    cursor: pointer;
  }

  .collapse-menu-btn {
    cursor: pointer;
  }

  .nav-links-mobile .nav-link:hover {
    background: #FF5758;
    color: #fff;
  }

  .nav-links-mobile span {
    padding-right: 8px;
  }

  /* .col-nav {
    display: none;
  } */


 

  /* Collapsed Nav */

  /* .collapsed-menu {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 20vh;
    background: #ffffff;
    height: 100vh;
    color: #FF5758;
  }

  .collapsed-menu .mobile-nav-links {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .collapsed-icons {
    font-size: 18px;
    padding: 2px;
  }

  .collapsed-menu .mobile-nav-links {
    cursor: pointer;
    width: 100%;
  }

  .collapsed-menu li:hover {
    color: #fff;
    background: #FF5758;
    margin: 0;
  }

  .collapse-active{
    background: #fff;
    
  } */


   /* Main Display */


  .main {
    display: block;
  }

  .activity{
    display: block;
    width: 95vw;
    height: 80vh;
    margin: auto;
    overflow-y: scroll;
  }



  menu {
    position: 
  }


  .greetings-general {
    font-size: 14px !important;
  }

  .greetings-message {
    font-size: 10px;
  }

  .daily-ask {
    font-size: 10px;
  }

  .empty {
    display: none;
  }

  .dash-container {
        display: flex;
        flex-direction: column;
        height: 90vh;
    }



}


@media screen and (max-width: 400px) {
  .nav-link span, .collapse-menu-btn {
    font-size: medium;
    text-align: center;
    margin: auto;
  }
}

